.hasPlaceholder 
	{
	color: #777;
	}

.suppressed 
	{
	margin-bottom: -8px;
	}

.compressedHR 
	{
	margin-top: -25px;
	}

#editdate
	{
	position: absolute;
	}
	
