<span style='color: #000'>147 frames</span>	<span style='color: #900'>11,264 KB</span>	<span style='color: #090'>3,189.81 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />